#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logoGA1 {
  position: absolute;
  top: 15%;
  right: 20%;
  height: 40px;
}
.logoGA2 {
  position: absolute;

  top: 10%;
  left: 20%;
  height: 80px;
}
.logoGA3 {
  position: absolute;
  height: 20px;
}

.background {
  
  background-color: #ffffff;
}
.imgMatches {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 0px 15px

}

.imgGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.names {
   margin-bottom: 0px;
   transform: rotate(-25deg);
   position: relative;
   left: -30px;
   top: 12px;
   font-size: 15px;
   font-weight: 400; 
}



.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
